@media screen and (max-width: 2500px) {
  body {
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url("image_background.jpg");
    background-size: cover;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  body::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #header {
    margin-top: 0em;
    height: 22em;
    background-color: #43120f;
    border-radius: 1em;
    border-color: goldenrod;
    scroll-behavior: auto;
    display: flex;
  }
  .grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(200em, 1fr));
    gap: 2em;
    justify-items: center;
    align-items: center;
  }

  .navBar {
    color: #fff;
    padding: 5em;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
  }

  .navBar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 2em 0.5em;
  }

  .navBar a:hover {
    color: gold;
  }

  .image {
    display: flex;
  }
  #imageLogo {
    width: 30em;
    max-width: 100%;
    margin: auto;
    margin-top: 1em;
    margin-left: 3em;
  }

  .middle {
    margin: auto;
    width: 90%;
    margin-top: 12em;
    background-color: whitesmoke;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .title {
    display: inline-block;
  }

  .inform {
    text-align: center;
    color: #5c1c14;
    font-size: 1.8em;
  }
  #img_text {
    display: flex;
  }
  #butcher {
    width: 30em;
    max-width: 100%;
    margin-left: 2em;
    margin: auto;
  }
  .text {
    font-size: 1em;
    text-align: justify;
    padding: 2em;
    line-height: 1.8em;
  }
  #cattle {
    width: 25em;
    max-width: 100%;
    border-radius: 2em;
  }
}
