@media screen and (max-width: 2500px) {
  body {
    margin: auto;
    width: auto;
    height: auto;
    background-image: url("image_background.jpg");
    background-size: cover;
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    overflow-x: hidden;
  }
  body::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #header {
    margin-top: 0em;
    height: 22em;
    background-color: #43120f;
    border-radius: 1em;
    border-color: goldenrod;
    scroll-behavior: auto;
    display: flex;
  }
  .grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(200em, 1fr));
    gap: 4em;
    justify-items: center;
    align-items: center;
  }

  .navBar {
    color: #fff;
    padding: 5em;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
  }

  .navBar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 2em 0.5em;
  }

  .navBar a:hover {
    color: gold;
  }

  .image {
    display: flex;
  }
  #imageLogo {
    width: 30em;
    max-width: 100vw;
    margin: auto;
    margin-top: 1em;
    margin-left: 3em;
  }

  .middle.informs {
    margin: auto;
    width: 90%;
    height: auto;
    margin-top: 12.6em;
    background-color: whitesmoke;
    color: black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .title {
    display: inline-block;
  }

  .inform {
    text-align: center;
    color: #cd5c5c;
    font-size: 1.8em;
  }

  .img_text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cattle {
    width: 20em;
    max-width: 100%;
    margin-left: 2em;
    margin: auto;
  }
  .text {
    font-size: 1em;
    text-align: justify;
    padding: 2em;
    line-height: 1.8em;
  }
  .middle.cut {
    margin: auto;
    width: 90%;
    height: auto;
    position: relative;
    padding-top: 10em;
    /* background-color: whitesmoke; */
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .middle.cut h3 {
    color: white;
  }
  .cuts {
    text-align: center;
    font-family: Courier, monospace;
    color: black;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card {
    background: linear-gradient(to bottom right, #e0afa0, #5c1c14);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin: 10px;
    width: 250px;
    height: 250px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  }

  .card p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1.3em;
    margin-top: 220px;
    position: absolute;
  }
  .card img {
    max-width: 240px;
    max-height: 170px;
    min-width: 240px;
    min-height: 170px;
    width: auto;
    height: auto;
  }

  .middle.doubts {
    margin: auto;
    width: 90%;
    height: auto;
    position: relative;
    padding-top: 10em;
    /* background-color: whitesmoke; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  #doubts {
    flex-direction: column;
    display: flex;
    width: 90%;
    margin: auto;
    height: auto;
    text-align: justify;
    justify-content: center;
    align-items: center;
  }
  .cards.doubt {
    background-color: white;
    border-radius: 2em;
    width: 60vw;
    margin: 1em;
    padding: 2em;
    flex-direction: column;
  }
  .middle.register {
    margin: auto;
    width: 90%;
    height: auto;
    /* position: relative; */
    padding-top: 10em;
    padding-bottom: 10em;
    /* background-color: whitesmoke; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .forms {
    background-color: white;
    padding: 15px;
    border-radius: 2em;
    width: 60%;
    height: auto;
    margin: auto;
    font-family: Arial, sans-serif;
    font-style: oblique;
    display: flex;
    flex-direction: column;
  }

  input {
    border: none;
    text-transform: none;
  }
  input:focus {
    border: 0.5px solid #555;
    border-radius: 1em;
  }
  .form-group {
    display: flex;
    padding: 20px;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  option {
    width: 30%;
    text-align: center;
  }

  #button-end {
    padding: 5px;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .locationText {
    padding: 20px;
    width: 100%;
    background-color: orangered;
    display: block;
    justify-content: center;
    text-align: center;
    color: white;
  }

  iframe {
    width: 100%;
  }
}
