@media screen and (max-width: 3000px) {
  html {
    scroll-behavior: smooth;
  }
  /* :target {
    scroll-margin-top: 10px;
  } */
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    /* background-image: linear-gradient(
      179deg,
      rgb(34, 11, 11) 30.2%,
      rgb(75, 18, 18) 103.9%
    ); */
    background-color: #3e1313;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    overflow-x: hidden;
  }

  /* Cabeçalho com logo e links de acessos */
  #header {
    margin-top: 0em;
    height: auto;
    /* background-color: #43120f; */
    background-color: #3e1313;
    border-color: goldenrod;
    scroll-behavior: auto;
    display: flex;
  }

  #imageLogo {
    width: 300px;
    justify-content: center;
    max-width: 100vw;
    margin: auto;
  }

  .grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(200em, 1fr));
    gap: 50px;
    justify-items: center;
    align-items: center;
  }

  .navBar {
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  .navBar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 50px;
  }

  .navBar a:hover {
    color: gold;
  }

  .image {
    display: flex;
  }

  /* Fim do cabeçalho */

  /* Carrossel com desmonstração dos tipos de carnes */
  .slider {
    margin: 0 auto;
    margin-right: 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
  }

  .slides {
    width: 400%;
    height: 400px;
    display: flex;
  }

  .slides input {
    display: none;
  }

  .slide {
    width: 25%;
    height: auto;

    position: relative;
    transition: 1.5s;
  }

  .slide img {
    width: 100%;
  }

  .manual-navigation,
  .navigation-auto {
    position: absolute;
    width: calc(100% - 40px);
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: flex;
    justify-content: center;
    z-index: 3;
  }

  .manual-button,
  .navigation-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }

  .manual-button:not(:last-child),
  .navigation-auto div:not(:last-child) {
    margin-right: 15px;
  }

  #radio1:checked ~ .first {
    margin-left: 0%;
  }

  #radio2:checked ~ .first {
    margin-left: -25%;
  }

  #radio3:checked ~ .first {
    margin-left: -50%;
  }

  #radio4:checked ~ .first {
    margin-left: -75%;
  }

  #radio1:checked ~ .navigation-auto .auto-button1,
  #radio2:checked ~ .navigation-auto .auto-button2,
  #radio3:checked ~ .navigation-auto .auto-button3,
  #radio4:checked ~ .navigation-auto .auto-button4 {
    background-color: orange;
  }

  .slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .slide .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Great Vibes";
    color: white;
    font-size: 24px;
    z-index: 2;
  }

  /* Fim do carrosel */

  /* Quadro informativo da empresa */
  .middle.informs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    text-align: center;
  }
  .imgtext {
    flex: 1;
    min-width: 500px;
    max-width: 700px;
    padding: 10px;
  }
  #img-slogan {
    width: 900px;
    margin-top: -150px;
    margin-left: -120px;
  }
  #cattle {
    width: 200px;
    margin-left: -100px;
    margin-top: -80px;
    filter: drop-shadow(-10px 10px 8px #7d7c7c);
  }

  .text-about {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    padding: 10px;
  }

  .text-about span {
    line-height: 40px;
    font-style: italic;
    font-size: 20px;
  }

  .inform {
    text-align: center;
    color: black;
    font-size: 1.6em;
  }

  /* Fim do quadro informativo */
  /* Informativo do horário de funcionamento*/
  .emblem {
    width: 100%;
  }
  .emblem img {
    width: 100%;
  }
  /* Fim do emblema*/

  /* Carrossel informativo das marcas*/
  @keyframes slide {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      transform: translate3d(-100%, 0, 0);
    }
  }

  .logos {
    overflow: hidden;
    padding: 30px 0;
    background: goldenrod;
    white-space: nowrap;
    position: relative;
  }

  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 350px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .logos:hover .logos-slide {
    animation-play-state: paused;
  }

  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
    margin: 0 50px;
  }

  .logos-slide img {
    height: 90px;
    justify-content: center;
    margin: auto 40px;
  }

  /* Fim do carrossel informativo das marcas*/

  /* Carrosel descritivo dos cortes*/

  .container {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
  }
  .menu {
    width: 40%;
    background-color: #141414;
    color: goldenrod;
    border-right: 1px solid goldenrod;
    position: relative;
    text-align: center;
    font-size: 18px;
  }
  .menu ul li {
    display: inline-flex;
    width: 100%;
    height: 45px;
    float: right;
    margin: 15px auto;
    align-items: center;
    cursor: pointer;
  }
  .menu ul {
    list-style: none;
  }
  .menu li {
    gap: 150px;
    text-align: center;
  }

  .menu li img {
    width: 60px;
    margin-left: 50px;
  }

  #corte_bovino:hover {
    border-right: 0.3em solid red;
    color: red;
    transition: 0.3s linear;
  }
  #corte_suino:hover {
    border-right: 0.3em solid pink;
    color: pink;
    transition: 0.3s linear;
  }
  #corte_exotico:hover {
    border-right: 0.3em solid green;
    color: green;
    transition: 0.3s linear;
  }
  #corte_mar:hover {
    border-right: 0.3em solid aqua;
    color: aqua;
    transition: 0.3s linear;
  }

  .content {
    width: 60%;
    background-color: #141414;
    color: goldenrod;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .texto-content {
    margin-top: 80px;
    padding-left: 38px;
    line-height: 30px;
    font-size: 18px;
    width: 90%;
    text-align: center;
  }

  .imagem-content {
    position: absolute;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .imagem-content img {
    width: 80px;
  }

  .desc {
    position: absolute;
    top: 3em;
    width: 100%;
    display: none;
  }

  .desc.active-content {
    opacity: 1;
    display: block;
  }

  .desc.inactive {
    opacity: 0;
  }
  /* Fim do carrosel descritivo dos cortes*/

  /*Quadro demonstrativo de cortes*/
  .section-cattle {
    width: 100%;
    height: 500px;
    background-image: url("Images/boi-back.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-cattle::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .section-pig {
    width: 100%;
    height: 500px;
    background-image: url("Images/porco-back.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-pig::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .section-exotic {
    width: 100%;
    height: 500px;
    background-image: url("Images/coelho-back.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-exotic::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .section-sea {
    width: 100%;
    height: 500px;
    background-image: url("Images/peixe-back.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-sea::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .card {
    background-color: transparent;
    border-radius: 24px;
    background-image: url("Images/");
    box-shadow: rgb(0, 0, 0, 0.1) 0px 2px 6px;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 2;
  }

  .card:hover {
    box-shadow: rgb(0, 0, 0, 0.1) 0px 6px 16px;
  }

  .card_preview {
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .card_preview img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.4s ease-out;
  }

  .card:hover .card_preview img {
    transform: scale(1.35);
  }

  .card_adress {
    margin: 0;
    margin-bottom: 15px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin-top: 16px;
  }

  .card_content {
    padding: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    color: white;
  }

  .card_content h2 {
    margin: 3px 0 3px 0;
  }

  .card_bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card_description {
    margin-top: 8px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  .card_buttons {
    display: flex;
    gap: 8px;
  }

  .card_btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card_btn svg {
    height: 32px;
    width: 32px;
    stroke: black;
    stroke-width: 1.5px;
  }

  .card_btn-- svg {
    stroke: black;
    fill: black;
  }

  /*Fim do q uadro demonstrativo de cortes*/

  /* Dúvidas frequentes */
  .middle.doubts {
    margin: 50px auto;
    width: 60%;
    padding: 5em 0 5em 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .accordion {
    background-color: white;
    font-style: italic;
    border: none;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .active,
  .accordion:hover {
    background-color: rgb(176, 176, 176);
  }

  .panel {
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    border-bottom: 1px solid gray;
  }

  .panel p {
    height: 50px;
    font-size: 1.15em;
    padding: 40px;
  }

  .panel h3 {
    font-size: 1.15em;
    padding: 10px;
    display: flex;
  }

  .accordion:after {
    content: "\25BC";
    height: auto;
    font-size: 15px;
    color: black;
    margin-left: 10px;
  }

  .active:after {
    content: "\25B2";
  }

  /* Fim das dúvidas frequentes */

  /* Formulário para cadastro de clientes  */
  .register {
    display: flex;
    width: 100%;
    color: white;
    height: 750px;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(Images/mascoteBBQ.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .forms {
    background-color: transparent;
    border: 1px solid black;
    backdrop-filter: blur(40px);
    padding: 15px;
    margin-left: 55px;
    border-radius: 2em;
    width: 500px;
    height: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .forms span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .form-group p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin: 0 5px 0 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  option {
    width: 100%;
    color: white;
    text-align: left;
    font-size: 1em;
    padding-block: 8px;
    padding-inline: 5px;
    border: none;
    border-bottom: 1px solid gray;
  }

  input::placeholder {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: white;
    opacity: 0.5;
  }

  input {
    background-color: transparent;
    padding: 0;
    margin-left: 10px;
    border: 0;
    outline: 0;
  }

  .dropdown {
    min-width: 240px;
    margin: 25px;
    position: relative;
    flex-wrap: wrap;
  }

  .dropdown * {
    box-sizing: border-box;
  }

  .select {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #ffc94a solid;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    transition: background 0.5s;
  }

  .select-clicked {
    border: 2px #ffc94a solid;
    box-shadow: 0 0 12.8px #ffc94a;
  }

  .select:hover {
    background: #ffc94a;
  }

  .caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid white;
    transition: 0.3s;
  }

  .caret-rotate {
    transform: rotate(180deg);
  }

  .menu-dropdown {
    list-style: none;
    padding: 3.2px 8px;
    background: white;
    border: 1px #ffc94a solid;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: black;
    position: absolute;
    top: 48px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
  }

  .menu-dropdown li {
    padding: 11.2px 8px;
    margin: 4.8px 0;
    border-radius: 8px;
    cursor: pointer;
  }

  .menu-dropdown li:hover {
    background: #ffc94a;
  }

  .active-dropdown {
    background: #ffc94a;
  }

  .menu-dropdown-open {
    display: block;
    opacity: 1;
  }

  .form-group {
    display: flex;
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    line-height: 2.4;
  }

  .form-group div {
    display: inline-flex;
    align-items: center;
  }

  .custom-radio {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    left: -15px;
    top: 1px;
    position: relative;
    transition: transform 0.3s ease;
  }

  .radioChecked {
    transition: background-color 0.3s linear, transform 0.3s ease;
    background-color: #ffc94a;
    border-color: black;
    transform: scale(1.5);
  }

  #button-end {
    padding: 5px;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #sendmsg {
    display: inline-block;
  }

  .custom-checkbox {
    display: inline-block;
    position: relative;
    left: -16px;
    width: 13px;
    height: 13px;
    background-color: white;
    cursor: pointer;
  }

  .hide {
    display: none;
  }

  .custom-checkbox img {
    width: 40px;
    position: absolute;
    left: -11px;
    top: -20px;
  }

  .checkboxChecked {
    transition: background-color 0.3s linear, transform 0.3s ease;
    border-color: #ffc94a;
  }

  #textRegister {
    color: wheat;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    font-family: "Calligraffitti variant", Tofu;
  }

  #button {
    height: auto;
    width: 100px;
  }

  #button:hover {
    border: 2px solid #ffc94a;
    box-shadow: 0 0 12.8px #ffc94a;
    background-color: #ffc94a;
    transition: background-color 0.3s linear, border-color 0.3s linear,
      box-shadow 0.3s linear;
  }

  /* Fim do formulário */

  /* Rodapé da página com localização google e imagem do slogan */
  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: #ff4500;
    width: 100%;
  }

  .locationText {
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: white;
  }

  iframe {
    width: 100%;
  }

  .footer.information {
    color: black;
    height: auto;
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-left: 35em;
    margin: auto;
    padding: 8px;
  }

  .slogan img {
    width: 100%;
    height: 400px;
  }

  .contacts {
    text-align: center;
    font-size: 0.9em;
  }
}
/* Fim do rodapé */
